/*******General********/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.flexWrap {
    flex-wrap: wrap;
}

button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
}

.justifyContentFE {
    justify-content: flex-end;
}

.boxed {
    width: 90vw;
    margin: 0 auto;
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.bottomLeft {
    bottom: 0;
    left: 0;
}

/*******Header*********/
header{
    height: 50px;
    background-color: black;
}

section > button {
    color: white;
    background-color: lightgray;
    margin: 5px 5px;
}

/*********Main***********/
main{
    background-color: black;
    width: 100%;
    height: calc(100vh - 50px);
}

.flex > section {
    width: calc(100% / 7);
}

.user {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}