/*******General********/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
}

.justifyContentFE {
    justify-content: flex-end;
}

.justifyContentSB {
    justify-content: space-between;
}

.justifyContentC {
    justify-content: center;
}

.alignItemsC {
    align-items: center;
}

.boxed {
    width: 90vw;
    margin: 0 auto;
}

.positionAbsolute {
    position: absolute;
}

.positionRelative {
    position: relative;
}

.bottomLeft {
    bottom: 0;
    left: 0;
}

.width100 {
    height: 100%;
}

.textCenter {
    text-align: center;
}

.bgLightGray {
    background-color: lightgray;
}

/*******Header*********/
header{
    height: 50px;
    background-color: black;
}

section > button {
    color: white;
    background-color: lightgray;
    margin: 5px 5px;
}

/*********Main***********/
main{
    background-color: black;
    width: 100%;
    height: calc(100vh - 50px - 70px);
}

.boxed > section {
    width: calc(100% / 7 - 5px);
    margin: 10px 0;
}

div > section > img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.user {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/********Footer**********/
footer {
    background-color: gray;
}

footer > div {
    height: 70px;
}

footer i {
    font-size: 25px;
}

footer span {
    margin: 0 10px;
}

.endMeeting {
    color: red;
}

.fa-share-from-square {
    color: green;
}